
body {
  background-color: #000;
}

img {
  height: 200px
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin: auto;
  font-size: 30px;
  text-align: center;
  width: 80%;

}
button {
  height: 150px;
  width: 150px;
  background-color: #FFF;
  padding: 20px;
  margin: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  /* border-radius: 20%; */
  
}

button:hover {
  /* background-color: red; */
  color: red;
  border: 0px;
  background-size: 150px 150px;
  transform: scale(1.5);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPL0bTsc1gTwmwFcC3nQttAYzXUi0TE_Z3dUu8qS7PQ5jL0DQa&s;");"
}

a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  display: flex;
 justify-content: center;
}